@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">SMM Analyzer</h1>
    <p>Система комплексной модерации и анализа контента для социальных сетей</p>
    <a class="btn btn-primary btn-lg" asp-controller="Post" asp-action="Create">Начать анализ поста</a>
    <a class="btn btn-outline-secondary btn-lg" asp-controller="Post" asp-action="History">История публикаций</a>
</div>